<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DataFolder" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DataFiles">
            <Component Id="cmpC3715AF6CC3D44412CB534C13B8D9FA3" Directory="DataFolder" Guid="*">
                <File Id="filA0589574DA8004C37B7170D236DB4F43" KeyPath="yes" Source="$(var.DataDir)\cangjie5.dict.yaml" />
            </Component>
            <Component Id="cmp656563DCE2D386C13E3C2246944B4D46" Directory="DataFolder" Guid="*">
                <File Id="filE302669F8DDBE6DD5BD4630CDC255F52" KeyPath="yes" Source="$(var.DataDir)\cangjie5.schema.yaml" />
            </Component>
            <Component Id="cmp76266F94BE11A59C2BACB093EDC5C0D4" Directory="DataFolder" Guid="*">
                <File Id="filCD8EEBF56C1156F212DF8B8EBB961C81" KeyPath="yes" Source="$(var.DataDir)\default.custom.yaml" />
            </Component>
            <Component Id="cmp3304267FB8B3418D77D6E2BE16381AE3" Directory="DataFolder" Guid="*">
                <File Id="fil143568CB34E95AE39C2E63C857CAD883" KeyPath="yes" Source="$(var.DataDir)\default.yaml" />
            </Component>
            <Component Id="cmpAFE55EF47E9E7846E6EA9AD6AE6D89F1" Directory="DataFolder" Guid="*">
                <File Id="filAC56CAD55002C57BE7F387B7CE51EF35" KeyPath="yes" Source="$(var.DataDir)\essay.txt" />
            </Component>
            <Component Id="cmpE0ABC2ED196421F03DD15019BAF86A58" Directory="DataFolder" Guid="*">
                <File Id="filC2A8084974AEB5D7B3C96B6C375BDC37" KeyPath="yes" Source="$(var.DataDir)\luna_pinyin.dict.yaml" />
            </Component>
            <Component Id="cmp3FA154C3E251066CA388A3A9A81548C2" Directory="DataFolder" Guid="*">
                <File Id="fil753191E90511CAEDD89A788DCB775608" KeyPath="yes" Source="$(var.DataDir)\luna_pinyin.schema.yaml" />
            </Component>
            <Component Id="cmp5AF6AB078D387BAF15AE89C46815E3AA" Directory="DataFolder" Guid="*">
                <File Id="fil3F924F473454C6C5FF84990395AC82BE" KeyPath="yes" Source="$(var.DataDir)\numbers.schema.yaml" />
            </Component>
            <Component Id="cmpF1CD123493D15A05681889BF1C2A0751" Directory="DataFolder" Guid="*">
                <File Id="fil4125772BF9527CBFF5E60B203C84E839" KeyPath="yes" Source="$(var.DataDir)\pinyin_simp.dict.yaml" />
            </Component>
            <Component Id="cmpD058667ED1CB9BD7188AD7345C3D339E" Directory="DataFolder" Guid="*">
                <File Id="fil48FB9052B5B6A5A0BA5A6CE2249EC8F9" KeyPath="yes" Source="$(var.DataDir)\pinyin_simp.schema.yaml" />
            </Component>
            <Component Id="cmpCEDB4957DB3A487D0B7293C910C41B3C" Directory="DataFolder" Guid="*">
                <File Id="fil09BA76A2816ED1C7583C38E04DEC2C5D" KeyPath="yes" Source="$(var.DataDir)\rime.lua" />
            </Component>
            <Component Id="cmpDF69A01DDAD3644061A97C62E354F9D6" Directory="DataFolder" Guid="*">
                <File Id="fil8B03148D486F7393FC39628DFF6A60AA" KeyPath="yes" Source="$(var.DataDir)\symbols.yaml" />
            </Component>
            <Component Id="cmp633E272D4764678C0A6A0186548D88D7" Directory="DataFolder" Guid="*">
                <File Id="filBB0C5C8DDB55BF3D9EB49625829D487B" KeyPath="yes" Source="$(var.DataDir)\wubi86.dict.yaml" />
            </Component>
            <Component Id="cmpF84F7EB8F6725DE00BB75FDEC59EABD7" Directory="DataFolder" Guid="*">
                <File Id="filCD5EADFEE3502A64A9ACE254EE987399" KeyPath="yes" Source="$(var.DataDir)\wubi86.schema.yaml" />
            </Component>
            <Component Id="cmp23523BB66504E30F7567EAB534465478" Directory="DataFolder" Guid="*">
                <File Id="fil6A17F5FC5E839DC461BE9F3641593DFC" KeyPath="yes" Source="$(var.DataDir)\wubi86_extra.dict.yaml" />
            </Component>
            <Component Id="cmpACFC8356B936183020606D6C6BA9CDA3" Directory="DataFolder" Guid="*">
                <File Id="fil074CED723F6B564944D2D195E4037C4E" KeyPath="yes" Source="$(var.DataDir)\wubi86_pinyin.schema.yaml" />
            </Component>
            <Component Id="cmp0EFCE78A190E8B4A67C51BFFF723117C" Directory="DataFolder" Guid="*">
                <File Id="fil17E93AB696FB0F2110B5A6C2A6CDD6AD" KeyPath="yes" Source="$(var.DataDir)\wubi86_trad.schema.yaml" />
            </Component>
            <Component Id="cmpC5E1850247EC26C350CF15087D71AD94" Directory="DataFolder" Guid="*">
                <File Id="filBE4B894D84D72F92216DBF457C22E1C0" KeyPath="yes" Source="$(var.DataDir)\wubi86_trad_pinyin.schema.yaml" />
            </Component>
            <Component Id="cmpAAAF913E6E7F0A9C8C013B44686C01F3" Directory="DataFolder" Guid="*">
                <File Id="fil5538C70A51740A359A9B0E91957CB8B7" KeyPath="yes" Source="$(var.DataDir)\wubi86_user.dict.yaml" />
            </Component>
            <Component Id="cmp068DE3144D805A05FA4D2494847D83F5" Directory="DataFolder" Guid="*">
                <File Id="fil402CA95E1DA206A11B2601F7A0FF44C4" KeyPath="yes" Source="$(var.DataDir)\wubi98.dict.yaml" />
            </Component>
            <Component Id="cmpC5278659438B8E4DEC1FA0AA6470AA36" Directory="DataFolder" Guid="*">
                <File Id="fil36B6F09012921A662314DB7652DC6BDF" KeyPath="yes" Source="$(var.DataDir)\wubi98.schema.yaml" />
            </Component>
            <Component Id="cmp88B70484D12F6102598DEC2201E15B38" Directory="DataFolder" Guid="*">
                <File Id="fil76B09CF2F0329A2CC15527E6B87A55BE" KeyPath="yes" Source="$(var.DataDir)\xime.custom.yaml" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>