<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DataFolder" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DataFiles">
            <Component Id="cmpC3715AF6CC3D44412CB534C13B8D9FA3" Directory="DataFolder" Guid="*">
                <File Id="filA0589574DA8004C37B7170D236DB4F43" KeyPath="yes" Source="$(var.DataDir)\cangjie5.dict.yaml" />
            </Component>
            <Component Id="cmp656563DCE2D386C13E3C2246944B4D46" Directory="DataFolder" Guid="*">
                <File Id="filE302669F8DDBE6DD5BD4630CDC255F52" KeyPath="yes" Source="$(var.DataDir)\cangjie5.schema.yaml" />
            </Component>
            <Component Id="cmp3304267FB8B3418D77D6E2BE16381AE3" Directory="DataFolder" Guid="*">
                <File Id="fil143568CB34E95AE39C2E63C857CAD883" KeyPath="yes" Source="$(var.DataDir)\default.yaml" />
            </Component>
            <Component Id="cmpAFE55EF47E9E7846E6EA9AD6AE6D89F1" Directory="DataFolder" Guid="*">
                <File Id="filAC56CAD55002C57BE7F387B7CE51EF35" KeyPath="yes" Source="$(var.DataDir)\essay.txt" />
            </Component>
            <Component Id="cmpE0ABC2ED196421F03DD15019BAF86A58" Directory="DataFolder" Guid="*">
                <File Id="filC2A8084974AEB5D7B3C96B6C375BDC37" KeyPath="yes" Source="$(var.DataDir)\luna_pinyin.dict.yaml" />
            </Component>
            <Component Id="cmp3FA154C3E251066CA388A3A9A81548C2" Directory="DataFolder" Guid="*">
                <File Id="fil753191E90511CAEDD89A788DCB775608" KeyPath="yes" Source="$(var.DataDir)\luna_pinyin.schema.yaml" />
            </Component>
            <Component Id="cmpDF69A01DDAD3644061A97C62E354F9D6" Directory="DataFolder" Guid="*">
                <File Id="fil8B03148D486F7393FC39628DFF6A60AA" KeyPath="yes" Source="$(var.DataDir)\symbols.yaml" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>